<div>
	<h2>Create Project</h2>

	<%= form_for(:project, :html => {:class => "form-horizontal project"}, :url => {:action => 'create', :customer_id => @customer_id}) do |f| %>

   
  	<div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">Project Name</label>
	    <div class="col-sm-7">
	      <%= f.text_field(:project_name, :class => 'form-control') %>
	    </div>
  	</div>

  	<div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">Project Start</label>
	    <div class="col-sm-7">
	      <%= f.datetime_select(:project_started, :order => [:month, :day, :year], :class =>'form-control') %>
	    </div>
  	</div>

  	<div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">Project Estimated to End</label>
	    <div class="col-sm-7">
	      <%= f.datetime_select(:project_estimated_to_end, :order => [:month, :day, :year], :class => 'form-control') %>
	    </div>
  	</div>

  	<div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">Status</label>
	    <div class="col-sm-7">
	      <%= f.select(:project_status, ['Doing', 'Done'], prompt: true, :class => 'form-control') %>
	    </div>
  	</div>
	<div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">Project Description</label>
	    <div class="col-sm-7">
	      <%= f.text_area(:project_description, :class => 'form-control') %>
	    </div>
  	</div>

  	<div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <%= submit_tag("Create Submit", :class => 'btn btn-primary') %>
	      <%= link_to('Cancel',{:controller => 'customers',:action => 'show'}, :class => 'btn btn-danger') %>
	    </div>
  	</div>

  <% end %>
</div>